* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background:#f4f4f4;
}

.page{
  min-height:80vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:20px;
}

h1{
  color:#2563eb;
}